body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}

h1 {
    text-align: center;
    color: brown;
}

a {
    text-decoration: none;
    color: rgb(35, 34, 23);
}

a:hover {
    color: brown;
}

table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px;
    border: 1px solid #dee2e6;
    text-align: left;
}

th {
    background-color: wheat;
    color: brown;
}

td {
    background-color: seashell;
}

button, input[type="submit"] {
    background-color: brown;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
}

button:hover, input[type="submit"]:hover {
    background-color: brown;
}

form {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: brown;
}

input[type="text"], input[type="email"], input[type="number"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

body {
    background-image: url('pus.jpg'); /* Ganti dengan path ke gambar Anda */
    background-size: cover;
}